<div class="species-list-item" (click)="onPickSpecies(specie)">
    <div class="species-name">{{ specie.name }}</div>
    <div class="species-id">{{ specie.id }}</div>
    <div class="species-color" [ngClass]="'color-'+specie.color.name.toLowerCase()">{{ specie.color.name }}</div>
    <div class="species-base-stats-panel">
        <app-species-stat-div [value]="specie.life" name="life"></app-species-stat-div>
        <app-species-stat-div [value]="specie.energy" name="energy"></app-species-stat-div>
        <app-species-stat-div [value]="specie.defense" name="defense"></app-species-stat-div>
        <app-species-stat-div [value]="specie.special" name="special"></app-species-stat-div>
    </div>
</div>
