@import 'vars';
@import 'mixins';

:host {
    @extend %flex-row;
    margin: 0.25em;
    align-items: center;

    app-species-stat-div {
        transform: translateY(2px);
    }
}

.ui-button {
    @include small-button(20px);
    margin: 5px;

    &:hover {
        color: $hl-color;
        background-color: $hl-brighten;
    }
}