@import 'mixins';
@import 'vars';

:host {
    width: 30%;
}

.species-div {
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    @extend %panel-shadow;
    margin-bottom: 1em;

    &:hover>.species-name {
        color: yellow;
    }
}

.species-name {
    @extend %header-text;
}

.species-id {
    @extend %small-text;
    &::before {
        content: '#'
    }
}

.species-color {
    @extend %normal-text;
}