@import 'mixins';
@import 'vars';

:host {
    display: flex;
    margin-bottom: 0.25em;
    align-items: center;
    height: 20px;
}

.base-life {
    @include base-stat("life");
}

.base-energy {
    @include base-stat("energy");
}

.base-defense {
    @include base-stat("defense");
}

.base-special {
    @include base-stat("special");
}

.species-base-stat {
    display: flex;
}
