@import 'mixins';
@import 'vars';

:host {
    display: block;
}

.base-life {
    @include base-stat("life");
}

.base-energy {
    @include base-stat("energy");
}

.base-defense {
    @include base-stat("defense");
}

.base-special {
    @include base-stat("special");
}

.species-base-stat {
    display: flex;
    flex-direction: column;
}
