@import 'mixins';
@import 'vars';

:host {
    display: flex;
    margin-bottom: 0.25em;
}

.char-stat-life {
    @include base-stat("life");
}

.char-stat-energy {
    @include base-stat("energy");
}

.char-stat-defense {
    @include base-stat("defense");
}

.char-stat-special {
    @include base-stat("special");
}

.char-stat {
    display: flex;
}



// .stat-dv-0 {
//     @include dv-meter(0);
// }

// .stat-dv-1 {
//     @include dv-meter(1);
// }

// .stat-dv-2 {
//     @include dv-meter(2);
// }

// .stat-dv-3 {
//     @include dv-meter(3);
// }

// .stat-dv-4 {
//     @include dv-meter(4);
// }

// .stat-dv-5 {
//     @include dv-meter(5);
// }