<form>
    <div class="form-header">Sign Up</div>

    <div class="form-body">
        <div class="form-item">
            <label for="username" class="field-label">Username: </label>
            <input type="text"  [(ngModel)]="username" name="username" />
        </div>
        <div class="form-item">
            <label for="password" class="field-label">Password:</label>
            <input type="password" [(ngModel)]="password" name="password" />
        </div>
        <div class="form-item">
            <label for="confirmPassword" class="field-label">Confirm Password:</label>
            <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" />
        </div>
    </div>
        
    <div class="form-footer">
        <input type="submit" class="form-button" (click)=submit() value="Sign Up!"/>
        <div class="flash-message {{ flashClass }}">{{ flash }}</div>
    </div>
</form>