@import "vars";
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");


@mixin font-style($family, $size, $color) {
  font-family: $family;
  font-size: $size;
  color: $color;
}

$game-font: 'Press Start 2P', 'Courier New', 'mono';

@mixin regular-font($size, $color: $color-white) {
  @include font-style($game-font, $size, $color);
}

//
// text styles
%shadow-normal {
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
      1px 1px 0 #000;
}

%shadow-light {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
      1px 1px 0 #000;
}

%title-shadow {
  @extend %shadow-normal;
  font-variant: small-caps;
}

%header-text {
  @include regular-font($header-size);
  @extend %title-shadow;
}

%normal-text {
  @include regular-font($normal-size);
  @extend %shadow-light;
  letter-spacing: 3px;
}

%small-text {
  @include regular-font($small-size);
  @extend %shadow-light;
}

//
// panels
%panel-shadow {
  border: 2px solid rgb(50, 50, 50);
  border-radius: 5px;
  box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.5);
}

%panel-highlight {
  background-color: $hl-brighten;
  border-radius: 5px;
}

%panel-padding {
  padding: 0.25rem;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

@mixin margin-between($size) {
    &>*:not(:last-child) {
      margin-bottom: $size;
  }
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%panel-main {
  background-color: $panel-color;
  @extend %panel-shadow;
  @extend %panel-padding;
}


//
// stats
@mixin base-stat($name) {
  &::before {
      content: $name;
      margin-right: 1em;
      @extend %small-text;
      text-transform: capitalize;
  }
}

@mixin dv-meter($value) {
    &::after {
        height: $dv-height;
        width: ($dv-width * $value) + 5;
        background-color: $meter-color;
        @extend %panel-shadow;
        border: 3px double black;
        border-radius: 3px;
        content: '';
    }
}

$dv-values: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20;
@each $dv-value in $dv-values {
    .stat-dv-#{$dv-value} {
        @include dv-meter($dv-value);
    }
}


// ui

%ui-highlight {
  &:hover {
    color: $hl-color;
  }
}

%ui-link {
  text-decoration: none;
  text-transform: capitalize;
  @extend %small-text;
  @extend %ui-highlight;
}

$small-button-size: 20px;

@mixin small-button($width: $small-button-size, $height: $small-button-size) {
  @extend %panel-shadow;
  @extend %small-text;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  width: $width;
  height: $height;
  border-radius: 5px;
  -webkit-user-select: none;
}